/* App.css */
body 
{
  font-family: 'Comic Neue', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://st2.depositphotos.com/4497889/43203/v/600/depositphotos_432031086-stock-video-4k-video-footage-motion-of.jpg');
  color: black;
}
