.container {
    padding: 20px;
}

.cardContainer {
	color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background: white;
    border-radius: 8px;
    padding: 15px; /* Aumentar padding para que haya más espacio */
    margin: 10px;
    text-align: center;
    width: 220px; /* Aumenta el ancho de la tarjeta */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s; /* Añadir una animación al hacer hover */
}

.card:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón */
}

.image {
    width: 100%;  /* Ajusta el ancho al 100% del contenedor */
    height: 120px; /* Altura fija para las tarjetas */
    border-radius: 4px; /* Esquinas redondeadas */
    object-fit: contain; /* Ajusta la imagen para que se ajuste completamente sin recortarla */
    object-position: top; /* Mantiene la parte superior de la imagen visible */
}



.powerStats {
    margin-top: 10px;
    text-align: left; /* Alinear texto a la izquierda para mejor legibilidad */
}

.stat-bar {
    margin-bottom: 10px;
    display: flex; /* Usar flexbox para mejor alineación */
    align-items: center; /* Centrar verticalmente */
}

.stat-name {
    flex: 1; /* Hacer que el nombre de la estadística ocupe el espacio disponible */
}

.stat-bar-container {
    background-color: #e0e0e0; /* Color de fondo de la barra */
    border-radius: 4px;
    height: 20px; /* Altura de la barra */
    overflow: hidden;
    flex: 2; /* Hacer que la barra ocupe el doble del espacio que el nombre */
    margin-left: 10px; /* Añadir margen a la izquierda de la barra */
}

.stat-fill {
    height: 100%;
    border-radius: 4px;
    transition: width 1s ease; /* Animación de llenado */
}

.button2 {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.button2:hover {
    background-color: #d32f2f; /* Color más oscuro al pasar el mouse */
}
