.home-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url('https://st2.depositphotos.com/4497889/43203/v/600/depositphotos_432031086-stock-video-4k-video-footage-motion-of.jpg');
	color: #fff;
	text-align: center;
  }
  
  .hero-section {
	max-width: 800px;
	padding: 40px;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .title {
	font-size: 3rem;
	margin-bottom: 20px;
	color: green;
  }
  
  .subtitle {
	font-size: 1.25rem;
	margin-bottom: 30px;
	line-height: 1.6;
	color: #d1d1d1;
  }
  
  .cta-text {
	font-size: 1.2rem;
	margin-bottom: 20px;
  }
  
  .login-button {
	padding: 12px 25px;
	background-color: #007BFF;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
	transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
	background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
	.title {
	  font-size: 2.5rem;
	}
  
	.subtitle {
	  font-size: 1rem;
	}
  
	.cta-text {
	  font-size: 1rem;
	}
  }
  