/* Navbar.css */
  
  .menu-bar {
	border-radius: 25px;
	height: fit-content;
	display: flex;
	justify-content: center;
	background-color: transparent;
	align-items: center;
	padding: 0 10px;
	margin: 50px 0 0 0;
  }
  
  .nav-links {
	display: flex; /* Flexbox to align horizontally */
	padding: 0; /* No padding on ul */
	margin: 0; /* No margin on ul */
  }
  
  .nav-links li {
	list-style: none;
	margin: 0 8px; /* Space between list elements */
  }
  
  .nav-btn {
	text-decoration: none; /* Removes underline */
	color: white; /* Text color */
	font-family: sans-serif;
	font-weight: bold;
	padding: 12px 16px; /* Internal spacing */
	position: relative;
	cursor: pointer; /* Changes cursor to pointer */
	border: none; /* No border for button */
	background: none; /* No background by default */
	transition: color 0.2s; /* Transition for text color */
  }
  
  .nav-btn::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	transition: .2s;
	border-radius: 25px;
  }
  
  .nav-btn:hover::before {
	background: linear-gradient(to bottom, #e8edec, #d2d1d3);
	box-shadow: 0px 3px 20px 0px black;
	transform: scale(1.2);
  }
  
  .nav-btn:hover {
	color: black; /* Changes color on hover */
  }
  
  .user-section {
	display: flex; /* To align logout button and avatar */
	align-items: center;
	margin-left: 20px; /* Space between list and avatar */
  }
  
  .user-avatar {
	width: 40px; /* Adjust avatar size */
	height: 40px; /* Adjust avatar size */
	border-radius: 50%; /* Make it circular */
	margin-left: 10px; /* Space between logout button and avatar */
  }
  